<div class="first-wrap">
    <div class="mbox">
        <div class="siders">
            <div class="side">
                <div class="texter">
                    <h1>
                        Build your <span style="color: #ffba00;"> Brand. </span> 
                        <br> 
                        <span style="color: #926dde;"> Sell </span> more stuff. 
                    </h1>
                    <p>
                        MailChimp is the world’s largest marketing automation platform. It’s like a second brain that helps millions of customers find their audience, engage their customers, and build their brand.  
                    </p>
                </div>
                <div class="buttoners">
                    <a href="" class="butt singup">
                        <span>Sign up — Free</span>
                    </a>
                    <a href="" class="butt learnmore">
                        <span>Learn more</span>
                    </a>
                </div>
            </div>
            <div class="side">
                <img src="images/18.png" alt="">
            </div>
        </div>
    </div>
</div>