<!-- FOOTER -->
<footer>
    <div class="mbox">
        <div class="siders">
            <a href="" class="logo">
                <img src="images/logo.png" alt="">
            </a>
            <nav>
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Learning</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
            <ul class="socials">
                <li>
                    <a class="btn btn-square btn-facebook" href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a class="btn btn-square btn-google" href="#"><i class="fa fa-google"></i></a>
                </li>
                <li>
                    <a class="btn btn-square btn-twitter" href="#"><i class="fa fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="js/plagins/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>

<!-- build:js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>

<script type="text/javascript" src="js/plagins/select2.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>


<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/main.js" ></script>
<script type="text/javascript" src="js/develop/custom.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
